.explore-menu{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.explore-menu h1{
    font-weight: 500;
    color: #262626;
}

.explore-menu-text{
    columns: #808080;
    max-width: 60%;

}

.explore-menu-list{
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0px;

}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.explore-menu-list-item p{
    color: #747474;
    font-size: max(1.4vw, 16px);
    margin-top: 10px;
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
}

@media (max-width: 1000px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}